<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers resource="providers.config"/>

  <database>
    <provider name="sqlServer1.1" />
    <dataSource name="MOTORS" connectionString="data source=192.168.1.61; Initial Catalog=Sef;persist security info=True; User ID=Desarrollo;Password=Des.2018; Connection Timeout=600;" />
  </database>

  <sqlMaps>

    <sqlMap resource="DAL/SEFMotorcyclesMAP.xml" />
    <sqlMap resource="DAL/ModelsMAP.xml" />
    <sqlMAP resource="DAL/EstatusMAP.xml" />

  </sqlMaps>
</sqlMapConfig>